:root {
    --coral: rgba(255, 127, 80, 0.911);
    --grey: #696969;
    --blue: rgba(61, 89, 245, 0.767);
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* body {
    font-family:
    background-color:
    color: #4682B4;
}
*/

header {
    background-color: var(--grey);
    padding: 20px 35px;
}

header h1 {
    padding: 20px;
    color: var(--grey);
    font-size: 36px;
    display: inline;
}

header nav{
    float: right;
    /*space between top and bottom / left and right surrounding the list items inside the nav bar*/
    margin: -35px 50px;
}

header nav ul li {
    display: inline;
    /*space between list items in the nav bar*/
    padding: 15px;
}

header nav ul li a {
    /*this is removing the decoration of the hyperlins*/
    text-decoration: none;
    color: var(--coral);
    /*adding border to bottom of list items*/
    border-bottom: 3px solid var(--coral);
    font-size: 22px;
}

header div {
    background-color: var(--coral);
    /*width of container around header text*/
    width: 350px;
    text-align: right;
}

.hero {
    background-image: url("../images/1632167725502.jpg");
    height: 300px;
    width: 1540px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2{
    background-color: var(--coral);
    color: var(--grey);
    font-size: 30px;
}

.hero div {
    /*width of container around section .hero h2*/
    width: 200px;
    text-align: center;
    float: right;
    /*placement on page*/
    margin: 245px 110px;
    border: 3px dashed var(--grey)
}

.content h3 {
    font-size: 50px;
    /*pushed h3 text into the right and spaced them out*/
    padding: 30px 30px 80px 30px;
    color: var(--blue);
    border-right: var(--blue);
    display: flex;
    /*made content h3 list down in a colum*/
    flex-direction: column;
    justify-content: space-between;
}

.about-me {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}

.sub-content {
    margin: 40px;
}

.sub-content img {
    width: 200px
}
