:root {
    --coral: rgba(255, 127, 80, 0.911);
    --grey: #696969;
    --blue: rgba(61, 89, 245, 0.767);
}

* {
    margin: 0;
    /*padding: 0;*/
    box-sizing:border-box;
}

 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF0D9;
}


header {
    background-color: var(--grey);
    padding: 20px 35px;
    display: flex;
}

header h1 {
    padding-top: 60px;
    color: var(--grey);
    font-size: 36px;
    display: inline;
}

header nav{
    display: flex;
    float: right;
    /*space between top and bottom / left and right surrounding the list items inside the nav bar*/
    margin: -35px 50px;
    padding-left: 425px;
}

header nav ul li {
    display: inline-flex;
    /*space between list items in the nav bar*/
    padding: 45px 20px 0 20px;
}

header nav ul li a {
    /*this is removing the decoration of the hyperlins*/
    text-decoration: none;
    color: var(--coral);
    /*adding border to bottom of list items*/
    border-bottom: 3px solid var(--coral);
    font-size: 22px;
}

header nav ul li a:hover {
    background: var(--coral);
    color: var(--grey);
    border-radius: 25% 5%;
}

header div {
    background-color: var(--coral);
    /*width of container around header text*/
    width: 350px;
    text-align: right;
    padding-right: 10px;
}

.hero {
    background-image: url("../images/1632167725502.jpg");
    height: 300px;
    width: 1519px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h2{
    background-color: var(--coral);
    color: var(--grey);
    font-size: 30px;
}

.hero div {
    /*width of container around section .hero h2*/
    width: 200px;
    text-align: center;
    float: right;
    /*placement on page*/
    margin: 245px 110px;
    border: 3px dashed var(--grey);
}

.about-me {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about-me div {
    margin: 40px 0 0 40px;
    border-left: 2px solid var(--blue);
}

.about-me h3 {
    font-size: 50px;
    /*pushed h3 text into the right and spaced them out*/
    padding: 30px;
    color: var(--blue);
    display: flex;
    /*made content h3 list down in a colum*/
    flex-direction: column;
    justify-content: space-between;
}

.about-me img {
    margin-left: 5px;
    width: 150px;
    float: left;
    padding: 10px;
}

.about-me p {
    margin-left: 20px;
    padding: 10px;
}

.contact-me {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.contact-me div {
    border-left: 2px solid var(--blue);
    height: 80px;
    padding-top: 10px;
    
}

.contact-me h3 {
    font-size: 50px;
    /*pushed h3 text into the right and spaced them out*/
    padding: 0 30px 0 28.5px;
    color: var(--blue);
    display: flex;
    /*made content h3 list down in a colum*/
    flex-direction: column;
    justify-content: space-between;
}

.contact-me div h5 {
    display: inline;
    padding: 35px 70px 35px 10px;
    font-size: 20px;
}

.contact-me div h5 a {
    text-decoration: none;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.work {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 30px;
}

.work h3 {
    font-size: 50px;
    /*pushed h3 text into the right and spaced them out*/
    color: var(--blue);
    display: flex;
    /*made content h3 list down in a colum*/
    flex-direction: column;
    justify-content: space-between;
    padding-right: 174px;
}

.card-main {
    float: right;
    padding: 10px 125px;
    border-left: 2px solid var(--blue)
}

.card-main img {
    border: 2px dashed var(--blue);
    opacity: 0.75;
}

.card-main img:hover {
    border: 2px dashed var(--coral);
    opacity: 1;
}

.app-title-language {
    display: flex;
    flex-direction: column;
    background-color: var(--coral);
    color: var(--grey);
    width: 180px;
    text-align: center;
}

.app-title {
    font-size: 20px;
    font-weight: bold;
}



